{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% translate 'state' %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">

    {#    <link href="/static/css/bootstrap.min.css" rel="stylesheet">#}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    {#    <link href="/static/css/font-awesome.css" rel="stylesheet">#}
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <!--核心样式-->
    <link rel="stylesheet" href="../static/font/css/style.css">

    <link href="/static/js/guidely/guidely.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--必要样式-->
    <link href="../static/font/css/component-chosen.css" rel="stylesheet">
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

{#            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </a>#}

            <a class="brand" href="http://127.0.0.1:8000/index/">
                {% translate 'Schedule Management' %}
            </a>

            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-cog"></i>
                            {% translate ' Account ' %}
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">{% translate 'Settings' %}</a></li>
                            <li><a href="javascript:;">{% translate 'Help' %}</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>
                            {% translate 'by EGrappler' %}
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="javascript:;">{% translate 'Profile' %}</a></li>
                            <li><a href="javascript:;">{% translate 'Logout' %}</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-search pull-right">
                    <input type="text" class="search-query" placeholder={% translate 'Search' %}>
                </form>

            </div><!--/.nav-collapse -->

        </div> <!-- /container -->

    </div> <!-- /navbar-inner -->

</div> <!-- /navbar -->


<div class="subnavbar">

    <div class="subnavbar-inner">

        <div class="container">

            <ul class="mainnav">

                <li>
                    <a href="http://127.0.0.1:8000/index/">
                        <i class="icon-dashboard"></i>
                        <span>{% translate 'Homepage' %}</span>
                    </a>
                </li>


                <li>
                    <a href="http://127.0.0.1:8000/reports/">
                        <i class="icon-list-alt"></i>
                        <span>{% translate 'Reports' %}</span>
                    </a>
                </li>

                <li class="active">
                    <a href="http://127.0.0.1:8000/state/">
                        <i class="icon-facetime-video"></i>
                        <span>{% translate 'state' %}</span>
                    </a>
                </li>


                {#                <li>#}
                {#                    <a href="charts.html">#}
                {#                        <i class="icon-bar-chart"></i>#}
                {#                        <span>Charts</span>#}
                {#                    </a>#}
                {#                </li>#}
                {##}
                {##}
                {#                <li>#}
                {#                    <a href="shortcodes.html">#}
                {#                        <i class="icon-code"></i>#}
                {#                        <span>Shortcodes</span>#}
                {#                    </a>#}
                {#                </li>#}

                {#                <li class="  dropdown">#}
                {#                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">#}
                {#                        <i class="icon-long-arrow-down"></i>#}
                {#                        <span>Drops</span>#}
                {#                        <b class="caret"></b>#}
                {#                    </a>#}

                {#                    <ul class="dropdown-menu">#}
                {#                        <li><a href="icons.html">Icons</a></li>#}
                {#                        <li><a href="faq.html">FAQ</a></li>#}
                {#                        <li><a href="pricing.html">Pricing Plans</a></li>#}
                {#                        <li><a href="login.html">Login</a></li>#}
                {#                        <li><a href="signup.html">Signup</a></li>#}
                {#                        <li><a href="error.html">404</a></li>#}
                {#                    </ul>#}
                {#                </li>#}

            </ul>

        </div> <!-- /container -->

    </div> <!-- /subnavbar-inner -->

</div> <!-- /subnavbar -->


<div class="main">

    <div class="main-inner">

        <div class="container">

            <div class="row">

                <div class="span12">

                    <div id="target-1" class="widget">

                        <div class="widget-content">
                            <div class='app'>
                                <main class='project'>
                                    <div class='project-info'>
                                        <h1>我的任务</h1>
{#                                        <div class='project-participants'>#}
{#                                            <span></span>#}
{#                                            <span></span>#}
{#                                            <span></span>#}
{#                                            <button class='project-participants__add'>Add Participant</button>#}
{##}
{#                                        </div>#}
                                    </div>
                                    <div class='project-tasks'>
                                        <div class='project-column'>
                                            <div class='project-column-heading'>
                                                <h2 class='project-column-heading__title'>{% translate 'Task Ready' %}</h2>
                                                <button class='project-column-heading__options'><i
                                                        class="fas fa-ellipsis-h"></i></button>
                                            </div>
                                            <div class='task' draggable='true'>
                                                <div class='task__tags'><span class='task__tag task__tag--copyright'>任务一</span>
                                                    <button class='task__options'><i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <p>。。。。。</p>
                                                <div class='task__stats'>
                                                    <span><time datetime="2021-11-24T20:00:00"><i
                                                            class="fas fa-flag"></i>5月1日</time></span>
                                                    <span><i class="fas fa-comment"></i>3</span>
                                                    <span><i class="fas fa-paperclip"></i>7</span>
                                                    <span class='task__owner'></span>
                                                </div>
                                            </div>

                                            <div class='task' draggable='true'>
                                                <div class='task__tags'><span class='task__tag task__tag--design'>任务二</span>
                                                    <button class='task__options'><i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <p>。。。。。。。。。。 。。。。。</p>
                                                <div class='task__stats'>
                                                    <span><time datetime="2021-11-24T20:00:00"><i
                                                            class="fas fa-flag"></i>5月1日</time></span>
                                                    <span><i class="fas fa-comment"></i>2</span>
                                                    <span><i class="fas fa-paperclip"></i>5</span>
                                                    <span class='task__owner'></span>
                                                </div>
                                            </div>

                                            <div class='task' draggable='true'>
                                                <div class='task__tags'><span class='task__tag task__tag--copyright'>任务一</span>
                                                    <button class='task__options'><i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <p>。。。。。。。 。。。。。。。。 。。。。。。。。。。</p>
                                                <div class='task__stats'>
                                                    <span><time datetime="2021-11-24T20:00:00"><i
                                                            class="fas fa-flag"></i>5月1日</time></span>
                                                    <span><i class="fas fa-comment"></i>2</span>
                                                    <span><i class="fas fa-paperclip"></i>3</span>
                                                    <span class='task__owner'></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='project-column'>
                                            <div class='project-column-heading'>
                                                <h2 class='project-column-heading__title'>{% translate 'In Progress' %}</h2>
                                                <button class='project-column-heading__options'><i
                                                        class="fas fa-ellipsis-h"></i></button>
                                            </div>

                                            <div class='task' draggable='true'>
                                                <div class='task__tags'><span class='task__tag task__tag--design'>任务二</span>
                                                    <button class='task__options'><i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <p>。。。。。。。。。。 。。。。。。。。。。</p>
                                                <div class='task__stats'>
                                                    <span><time datetime="2021-11-24T20:00:00"><i
                                                            class="fas fa-flag"></i>5月1日</time></span>
                                                    <span><i class="fas fa-comment"></i>5</span>
                                                    <span><i class="fas fa-paperclip"></i>5</span>
                                                    <span class='task__owner'></span>
                                                </div>
                                            </div>

                                            <div class='task' draggable='true'>
                                                <div class='task__tags'><span class='task__tag task__tag--illustration'>任务三</span>
                                                    <button class='task__options'><i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <p>。。。。。。。。。。 。。。。。。。。。。</p>
                                                <div class='task__stats'>
                                                    <span><time datetime="2021-11-24T20:00:00"><i
                                                            class="fas fa-flag"></i>5月1日</time></span>
                                                    <span><i class="fas fa-comment"></i>8</span>
                                                    <span><i class="fas fa-paperclip"></i>7</span>
                                                    <span class='task__owner'></span>
                                                </div>
                                            </div>

                                            <div class='task' draggable='true'>
                                                <div class='task__tags'><span class='task__tag task__tag--copyright'>任务一</span>
                                                    <button class='task__options'><i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <p>。。。。。。。。。。 。。。。。。。。。。</p>
                                                <div class='task__stats'>
                                                    <span><time datetime="2021-11-24T20:00:00"><i
                                                            class="fas fa-flag"></i>5月1日</time></span>
                                                    <span><i class="fas fa-comment"></i>12</span>
                                                    <span><i class="fas fa-paperclip"></i>11</span>
                                                    <span class='task__owner'></span>
                                                </div>
                                            </div>

                                            <div class='task' draggable='true'>
                                                <div class='task__tags'><span class='task__tag task__tag--illustration'>任务三</span>
                                                    <button class='task__options'><i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <p>。。。。。。。。。。 。。。。。。。。。。</p>
                                                <div class='task__stats'>
                                                    <span><time datetime="2021-11-24T20:00:00"><i
                                                            class="fas fa-flag"></i>5月1日</time></span>
                                                    <span><i class="fas fa-comment"></i>4</span>
                                                    <span><i class="fas fa-paperclip"></i>8</span>
                                                    <span class='task__owner'></span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class='project-column'>
                                            <div class='project-column-heading'>
                                                <h2 class='project-column-heading__title'>{% translate 'Needs Review' %}</h2>
                                                <button class='project-column-heading__options'><i
                                                        class="fas fa-ellipsis-h"></i></button>
                                            </div>

                                            <div class='task' draggable='true'>
                                                <div class='task__tags'><span class='task__tag task__tag--copyright'>任务一</span>
                                                    <button class='task__options'><i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <p>。。。。。。。。。。 。。。。。。。。。。</p>
                                                <div class='task__stats'>
                                                    <span><time datetime="2021-11-24T20:00:00"><i
                                                            class="fas fa-flag"></i>5月1日</time></span>
                                                    <span><i class="fas fa-comment"></i>4</span>
                                                    <span><i class="fas fa-paperclip"></i>0</span>
                                                    <span class='task__owner'></span>
                                                </div>
                                            </div>
                                            <div class='task' draggable='true'>
                                                <div class='task__tags'><span class='task__tag task__tag--design'>任务二</span>
                                                    <button class='task__options'><i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <p>。。。。。。。。。。 。。。。。。。。。。</p>
                                                <div class='task__stats'>
                                                    <span><time datetime="2021-11-24T20:00:00"><i
                                                            class="fas fa-flag"></i>5月1日</time></span>
                                                    <span><i class="fas fa-comment"></i>0</span>
                                                    <span><i class="fas fa-paperclip"></i>5</span>
                                                    <span class='task__owner'></span>
                                                </div>
                                            </div>
                                            <div class='task' draggable='true'>
                                                <div class='task__tags'><span class='task__tag task__tag--illustration'>任务三</span>
                                                    <button class='task__options'><i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <p>。。。。。。。。。。 。。。。。。。。。。</p>
                                                <div class='task__stats'>
                                                    <span><time datetime="2021-11-24T20:00:00"><i
                                                            class="fas fa-flag"></i>5月1日</time></span>
                                                    <span><i class="fas fa-comment"></i>2</span>
                                                    <span><i class="fas fa-paperclip"></i>2</span>
                                                    <span class='task__owner'></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='project-column'>
                                            <div class='project-column-heading'>
                                                <h2 class='project-column-heading__title'>{% translate 'Done' %}</h2>
                                                <button class='project-column-heading__options'><i
                                                        class="fas fa-ellipsis-h"></i></button>
                                            </div>

                                            <div class='task' draggable='true'>
                                                <div class='task__tags'><span class='task__tag task__tag--illustration'>任务三</span>
                                                    <button class='task__options'><i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <p>。。。。。。。。。。 。。。。。。。。。。</p>
                                                <div class='task__stats'>
                                                    <span><time datetime="2021-11-24T20:00:00"><i
                                                            class="fas fa-flag"></i>5月1日</time></span>
                                                    <span><i class="fas fa-comment"></i>12</span>
                                                    <span><i class="fas fa-paperclip"></i>5</span>
                                                    <span class='task__owner'></span>
                                                </div>
                                            </div>

                                            <div class='task' draggable='true'>
                                                <div class='task__tags'><span class='task__tag task__tag--illustration'>任务三</span>
                                                    <button class='task__options'><i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <p>。。。。。。。。。。 。。。。。。。。。。</p>
                                                <div class='task__stats'>
                                                    <span><time datetime="2021-11-24T20:00:00"><i
                                                            class="fas fa-flag"></i>5月1日</time></span>
                                                    <span><i class="fas fa-comment"></i>3</span>
                                                    <span><i class="fas fa-paperclip"></i>7</span>
                                                    <span class='task__owner'></span>
                                                </div>
                                            </div>

                                            <div class='task' draggable='true'>
                                                <div class='task__tags'><span class='task__tag task__tag--copyright'>任务一</span>
                                                    <button class='task__options'><i class="fas fa-ellipsis-h"></i>
                                                    </button>
                                                </div>
                                                <p>。。。。。。。。。。 。。。。。。。。。。</p>
                                                <div class='task__stats'>
                                                    <span><time datetime="2021-11-24T20:00:00"><i
                                                            class="fas fa-flag"></i>5月1日</time></span>
                                                    <span><i class="fas fa-comment"></i>8</span>
                                                    <span><i class="fas fa-paperclip"></i>16</span>
                                                    <span class='task__owner'></span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </main>
                                <aside class='task-details'>
                                    <div class='tag-progress'>
                                        <h2>任务进度</h2>
                                        <div class='tag-progress'>
                                            <p>任务一 <span>3/8</span></p>
                                            <progress class="progress progress--copyright" max="8" value="3"> 3
                                            </progress>
                                        </div>
                                        <div class='tag-progress'>
                                            <p>任务三 <span>6/10</span></p>
                                            <progress class="progress progress--illustration" max="10" value="6"> 6
                                            </progress>
                                        </div>
                                        <div class='tag-progress'>
                                            <p>任务二 <span>2/7</span></p>
                                            <progress class="progress progress--design" max="7" value="2"> 2</progress>
                                        </div>
                                    </div>
                                    <div class='task-activity'>
                                        <h2>{% translate 'Recent Activity' %}</h2>
                                        <ul>
                                            <li>
                                                <span class='task-icon task-icon--attachment'><i
                                                        class="fas fa-paperclip"></i></span>
                                                <b>A同学 </b>上传了3个文件
                                                <time datetime="2021-11-24T20:00:00">5月1日</time>
                                            </li>
                                            <li>
                                                <span class='task-icon task-icon--comment'><i
                                                        class="fas fa-comment"></i></span>
                                                <b><b>B同学 </b>评论了你
                                                <time datetime="2021-11-24T20:00:00">5月1日</time>
                                            </li>
                                            <li>
                                                <span class='task-icon task-icon--edit'><i
                                                        class="fas fa-pencil-alt"></i></span>
                                                <b>B同学 </b>给你留言
                                                <time datetime="2021-11-24T20:00:00">5月1日</time>
                                            </li>
                                            <li>
                                                <span class='task-icon task-icon--attachment'><i
                                                        class="fas fa-paperclip"></i></span>
                                                <b>A同学 </b>上传了3个文件
                                                <time datetime="2021-11-24T20:00:00">5月1日</time>
                                            </li>
                                            <li>
                                                <span class='task-icon task-icon--comment'><i
                                                        class="fas fa-comment"></i></span>
                                                <b>B同学 </b>评论了你
                                                <time datetime="2021-11-24T20:00:00">5月1日</time>
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
{#                            <div class="input-group">#}
{#                    <div class="input-group-prepend">#}
{#                        <label class="input-group-text" for="inputGroupSelect01">类别</label>#}
{#                    </div>#}
{#                    <select class="span4_2" id="inputGroupSelect01">#}
{#                        <option selected>Choose...</option>#}
{#                        <option value="1">课内学习</option>#}
{#                        <option value="2">课外学习</option>#}
{#                        <option value="3">游玩</option>#}
{#                    </select>#}
{#                    <select class="span4_2" id="inputGroupSelect01">#}
{#                        <option selected>Choose...</option>#}
{#                        <option value="1">课内学习</option>#}
{#                        <option value="2">课外学习</option>#}
{#                        <option value="3">游玩</option>#}
{#                    </select>#}
{#                    <select class="span4_2" id="inputGroupSelect01">#}
{#                        <option selected>Choose...</option>#}
{#                        <option value="1">课内学习</option>#}
{#                        <option value="2">课外学习</option>#}
{#                        <option value="3">游玩</option>#}
{#                    </select>#}
{#                </div>#}
{#                <div class="input-group">#}
{#                    <div class="input-group-prepend">#}
{#                        <span class="input-group-text">任务时间</span>#}
{#                    </div>#}
{#                    <input class="span6_1" type="text" placeholder="开始时间">#}
{#                    <input class="span6_1" type="text" placeholder="结束时间">#}
{#                </div>#}
{##}
{##}
{#                <div class="input-group">#}
{#                    <div class="input-group-prepend">#}
{#                        <span class="input-group-text">任务描述</span>#}
{#                    </div>#}
{#                    <textarea class="span11_1" aria-label="With textarea"></textarea>#}


{#                </div>#}
{##}
{#                <button type="button" class="btn btn-primary pull-right">添加日程</button>#}
{#                <button type="button" class="btn btn-default pull-right">删除日程</button>#}
{#                <button type="button" class="btn btn-warning pull-right">修改日程</button>#}
{#                        </div> <!-- /widget-content -->#}

                    </div> <!-- /widget -->
                </div>
            <div class = "span12">

            </div>


                {#                        </div> <!-- /widget-content -->#}
                {##}
                {#                    </div> <!-- /widget -->#}
                {##}
                {#                </div> <!-- /span12 -->#}


                {#                <div class="span12">#}
                {##}
                {#                    <div id="target-1" class="widget">#}
                {##}
                {#                        <div class="widget-content">#}
                {##}
                {#                            <h1>12 Columns</h1>#}
                {##}
                {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor#}
                {#                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud#}
                {#                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure#}
                {#                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.#}
                {#                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt#}
                {#                                mollit anim id est laborum.</p>#}
                {##}
                {#                        </div> <!-- /widget-content -->#}
                {##}
                {#                    </div> <!-- /widget -->#}
                {##}
                {#                </div> <!-- /span12 -->#}
                {##}
                {##}
                {#                <div class="span6">#}
                {##}
                {#                    <div class="widget">#}
                {##}
                {#                        <div class="widget-content">#}
                {##}
                {#                            <h1>6 Columns</h1>#}
                {##}
                {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor#}
                {#                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud#}
                {#                                exercitation ullamco laboris nisi ut aliquip.</p>#}
                {##}
                {#                        </div> <!-- /widget-content -->#}
                {##}
                {#                    </div> <!-- /widget -->#}
                {##}
                {#                </div> <!-- /span6 -->#}
                {##}
                {##}
                {#                <div class="span6">#}
                {##}
                {#                    <div id="target-2" class="widget">#}
                {##}
                {#                        <div class="widget-content">#}
                {##}
                {#                            <h1>6 Columns</h1>#}
                {##}
                {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor#}
                {#                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud#}
                {#                                exercitation ullamco laboris nisi ut aliquip.</p>#}
                {##}
                {#                        </div> <!-- /widget-content -->#}
                {##}
                {#                    </div> <!-- /widget -->#}
                {##}
                {#                </div> <!-- /span6 -->#}
                {##}
                {##}
                {#                <div class="span4">#}
                {##}
                {#                    <div id="target-3" class="widget">#}
                {##}
                {#                        <div class="widget-content">#}
                {##}
                {#                            <h1>4 Columns</h1>#}
                {##}
                {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor#}
                {#                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>#}
                {##}
                {#                        </div> <!-- /widget-content -->#}
                {##}
                {#                    </div> <!-- /widget -->#}
                {##}
                {#                </div> <!-- /span4 -->#}
                {##}
                {##}
                {#                <div class="span4">#}
                {##}
                {#                    <div class="widget">#}
                {##}
                {#                        <div class="widget-content">#}
                {##}
                {#                            <h1>4 Columns</h1>#}
                {##}
                {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor#}
                {#                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>#}
                {##}
                {#                        </div> <!-- /widget-content -->#}
                {##}
                {#                    </div> <!-- /widget -->#}
                {##}
                {#                </div> <!-- /span4 -->#}
                {##}
                {##}
                {#                <div class="span4">#}
                {##}
                {#                    <div class="widget">#}
                {##}
                {#                        <div class="widget-content">#}
                {##}
                {#                            <h1>4 Columns</h1>#}
                {##}
                {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor#}
                {#                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>#}
                {##}
                {#                        </div> <!-- /widget-content -->#}
                {##}
                {#                    </div> <!-- /widget -->#}
                {##}
                {#                </div> <!-- /span4 -->#}
                {##}
                {##}
                {#                <div class="span3">#}
                {##}
                {#                    <div class="widget">#}
                {##}
                {#                        <div class="widget-content">#}
                {##}
                {#                            <h1>3 Columns</h1>#}
                {##}
                {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor#}
                {#                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>#}
                {##}
                {#                        </div> <!-- /widget-content -->#}
                {##}
                {#                    </div> <!-- /widget -->#}
                {##}
                {#                </div> <!-- /span3 -->#}
                {##}
                {##}
                {#                <div id="target-4" class="span3">#}
                {##}
                {#                    <div class="widget">#}
                {##}
                {#                        <div class="widget-content">#}
                {##}
                {#                            <h1>3 Columns</h1>#}
                {##}
                {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor#}
                {#                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>#}
                {##}
                {#                        </div> <!-- /widget-content -->#}
                {##}
                {#                    </div> <!-- /widget -->#}
                {##}
                {#                </div> <!-- /span3 -->#}
                {##}
                {##}
                {#                <div class="span3">#}
                {##}
                {#                    <div class="widget">#}
                {##}
                {#                        <div class="widget-content">#}
                {##}
                {#                            <h1>3 Columns</h1>#}
                {##}
                {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor#}
                {#                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>#}
                {##}
                {#                        </div> <!-- /widget-content -->#}
                {##}
                {#                    </div> <!-- /widget -->#}
                {##}
                {#                </div> <!-- /span3 -->#}
                {##}
                {##}
                {#                <div class="span3">#}
                {##}
                {#                    <div class="widget">#}
                {##}
                {#                        <div class="widget-content">#}
                {##}
                {#                            <h1>3 Columns</h1>#}
                {##}
                {#                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor#}
                {#                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>#}
                {##}
                {#                        </div> <!-- /widget-content -->#}
                {##}
                {#                    </div> <!-- /widget -->#}
                {##}
                {#                </div> <!-- /span3 -->#}


            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /main-inner -->

</div> <!-- /main -->


{#<div class="extra">#}
{##}
{#    <div class="extra-inner">#}
{##}
{#        <div class="container">#}
{##}
{#            <div class="row">#}
{#                <div class="span3">#}
{#                    <h4>#}
{#                        About Free Admin Template</h4>#}
{#                    <ul>#}
{#                        <li><a href="javascript:;">by EGrappler</a></li>#}
{#                        <li><a href="javascript:;">Web Development Resources</a></li>#}
{#                        <li><a href="javascript:;">Responsive HTML5 Portfolio Templates</a></li>#}
{#                        <li><a href="javascript:;">Free Resources and Scripts</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <!-- /span3 -->#}
{#                <div class="span3">#}
{#                    <h4>#}
{#                        Support</h4>#}
{#                    <ul>#}
{#                        <li><a href="javascript:;">Frequently Asked Questions</a></li>#}
{#                        <li><a href="javascript:;">Ask a Question</a></li>#}
{#                        <li><a href="javascript:;">Video Tutorial</a></li>#}
{#                        <li><a href="javascript:;">Feedback</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <!-- /span3 -->#}
{#                <div class="span3">#}
{#                    <h4>#}
{#                        Something Legal</h4>#}
{#                    <ul>#}
{#                        <li><a href="javascript:;">Read License</a></li>#}
{#                        <li><a href="javascript:;">Terms of Use</a></li>#}
{#                        <li><a href="javascript:;">Privacy Policy</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <!-- /span3 -->#}
{#                <div class="span3">#}
{#                    <h4>#}
{#                        Open Source jQuery Plugins</h4>#}
{#                    <ul>#}
{#                        <li><a href="">Open Source jQuery Plugins</a></li>#}
{#                        <li><a href="">HTML5 Responsive Tempaltes</a></li>#}
{#                        <li><a href="">Free Contact Form Plugin</a></li>#}
{#                        <li><a href="">Flat UI PSD</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <!-- /span3 -->#}
{#            </div> <!-- /row -->#}
{##}
{#        </div> <!-- /container -->#}
{##}
{#    </div> <!-- /extra-inner -->#}
{##}
{#</div> <!-- /extra -->#}


{#<div class="footer">#}
{##}
{#    <div class="footer-inner">#}
{##}
{#        <div class="container">#}
{##}
{#            <div class="row">#}
{##}
{#                <div class="span12">#}
{#                    &copy; 2013 <a href="#">Bootstrap Responsive Admin Template</a>.#}
{#                </div> <!-- /span12 -->#}
{##}
{#            </div> <!-- /row -->#}
{##}
{#        </div> <!-- /container -->#}
{##}
{#    </div> <!-- /footer-inner -->#}
{##}
{#</div> <!-- /footer -->#}


<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery-1.7.2.min.js"></script>

<script src="/static/js/bootstrap.js"></script>


<script src="/static/js/bootstrap.bundle.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/js/base.js"></script>

<script src="/static/js/guidely/guidely.min.js"></script>


<script src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js'></script>

<script src="../static/font/js/script.js"></script>
{#<script>#}
{##}
{#    $(function () {#}
{##}
{#        guidely.add({#}
{#            attachTo: '#target-1'#}
{#            , anchor: 'top-left'#}
{#            , title: 'Guide Title'#}
{#            , text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'#}
{#        });#}
{##}
{#        guidely.add({#}
{#            attachTo: '#target-2'#}
{#            , anchor: 'top-right'#}
{#            , title: 'Guide Title'#}
{#            , text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'#}
{#        });#}
{##}
{#        guidely.add({#}
{#            attachTo: '#target-3'#}
{#            , anchor: 'middle-middle'#}
{#            , title: 'Guide Title'#}
{#            , text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'#}
{#        });#}
{##}
{#        guidely.add({#}
{#            attachTo: '#target-4'#}
{#            , anchor: 'top-right'#}
{#            , title: 'Guide Title'#}
{#            , text: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.'#}
{#        });#}
{##}
{#        guidely.init({welcome: true, startTrigger: false});#}
{##}
{##}
{#    });#}
{##}
{#</script>#}

<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script type="text/javascript" src="../static/font/js/chosen.jquery.js"></script>
<script type="text/javascript">
    $('.form-control-chosen').chosen({
        allow_single_deselect: true,
        width: '100%'
    });
    $('.form-control-chosen-required').chosen({
        allow_single_deselect: false,
        width: '100%'
    });
    $('.form-control-chosen-search-threshold-100').chosen({
        allow_single_deselect: true,
        disable_search_threshold: 100,
        width: '100%'
    });
    $('.form-control-chosen-optgroup').chosen({
        width: '100%'
    });

    $(function () {
        $('[title="clickable_optgroup"]').addClass('chosen-container-optgroup-clickable');
    });
    $(document).on('click', '[title="clickable_optgroup"] .group-result', function () {
        var unselected = $(this).nextUntil('.group-result').not('.result-selected');
        if (unselected.length) {
            unselected.trigger('mouseup');
        } else {
            $(this).nextUntil('.group-result').each(function () {
                $('a.search-choice-close[data-option-array-index="' + $(this).data('option-array-index') + '"]').trigger('click');
            });
        }
    });
</script>


</body>

</html>
